.board {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 1.6em;
    height: 1.6em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}